@import "../../../styles/userColors";

* {
  text-align: center;
  font-weight: bold;
}

button {
  font: inherit;
}

.theme {
  margin: 20px 0 20px 0;
}

.difficulty_box {
  margin: 0 35% 0 35%;
}

.difficulty_box hr {
  height: 3px;
  background-color: black;
  margin: 0;
}

.difficulty {
  font-weight: lighter;
  border-radius: 10px;
  margin: 10px 0 0;
}

.navigation_quiz button {
  margin: 0 100px 0 100px;
}


