@import "../../../styles/userColors";



* {
  text-align: center;
  font-weight: bold;
}

button {
  font: inherit;
}

:host {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.theme {
  margin: 20px 0 20px 0;
}

.difficulty_box {
  margin: 0 35% 0 35%;
}

.difficulty_box hr {
  height: 3px;
  background-color: black;
  margin: 0;
}

/*.difficulty {
  font-weight: lighter;
  border-radius: 10px;
  margin: 10px 0 0;
}*/

.difficulty-span {
  padding: 3px 10px 3px 10px;
  border-radius: 10px;
}

.commands > button {
  flex: 1;
  margin: 20px;
  font-weight: 500;
  //margin: 0 100px 0 100px;
}

.title-text {
  margin-bottom: 10px;
  text-decoration: underline;
}

.container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 70%;
  min-width: 700px;
  min-width: 800px;
}

.section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex: 1;
}

.title {
}

.difficulty {
  flex: 0.5;
}

.phrase {
  font-weight: 500;

}

.commands {
  display: flex;
  flex-direction: row;

}

.fontsizebar {
  flex: 1.5;

}


