<div [style.font-size.px]="userPref.getFontSize()">
    <div class="theme">Thème: {{quiz.name}}</div>
    <div class="difficulty_box">
        <hr/>
        <p [className]="getDifficultyColorClass()">{{difficulty(quiz.difficulty).toUpperCase()}}</p>
    </div>
    <p>C'est à vous de jouer</p>
    <div class="navigation_quiz">
        <button (click)="homepage()">Retour</button>
        <button (click)="startQuiz()">C'est parti !</button>
    </div>
    <app-change-font-size></app-change-font-size>
</div>
