<div class="header-menu">
    <div
        [className]="selectedHeaderMenuItem == 0 ? 'header-menu-item menu-item-selected' : 'header-menu-item'"
        (click)="selectMenuItem(0)"
        >
        {{headerMenuToString(0)}}
    </div>
    <div
        [className]="selectedHeaderMenuItem == 1 ? 'header-menu-item menu-item-selected' : 'header-menu-item'"
        (click)="selectMenuItem(1)"
        >
        {{headerMenuToString(1)}}
    </div>
    <div class="header-menu-item" (click)="mainHome()">Menu principal</div>
</div>

<div class="content">
    <div *ngIf="selectedHeaderMenuItem == 0">
        <app-anim-main-quizz-list>
        </app-anim-main-quizz-list>
    </div>
    <div *ngIf="selectedHeaderMenuItem == 1">
        <app-anim-main-user-list>
        </app-anim-main-user-list>
    </div>
</div>
