


<div id="play-quiz-main-div">

    <div id="play-quiz-header-div" [ngStyle]="{'font-size.px': fontSizeMain}" *ngIf="!adaptPageToBigFont()">
        {{currentQuestion + 1}} / {{inNumberOfQuestionsInQuiz()}}
    </div>

    <div id="play-quiz-question" [ngStyle]="{'font-size.px': fontSizeMain}">
        {{inQuestionName()}}
    </div>

    <div id="play-quiz-answers">


        <div id="play-quiz-answers-inner" *ngFor="let eachAnswer of inQuestionAnswers()" >

            <div *ngIf="isTextAnswer()">
                <div id="play-quiz-answers-inner-one-answer" (click)="selectedAnswer(eachAnswer)" [ngStyle]="{'font-size.px': fontSizeSecond, 'background-color': getColorForSelectedItems(eachAnswer)}">
                    {{eachAnswer.data}}
                </div>
            </div>

            <div *ngIf="!isTextAnswer()">
                <div   [ngStyle]="{'font-size.px': fontSizeSecond }">
                    <img src="{{eachAnswer.data}}" id="play-quiz-answers-inner-one-answer-image" [ngStyle]="{'border':getColorForSelectedImages(eachAnswer)}" (click)="selectedAnswer(eachAnswer)">
                </div>
            </div>


        </div>

    </div>


    <div id="navigate-button">

        <div id="play-quiz-quit-quiz" (click)="quitQuiz()" [ngStyle]="{'font-size.px': fontSizeMain}">
            Quitter le quiz
        </div>
        <div id="play-quiz-validate-question" (click)="goToNextQuestion()" [ngStyle]="{'font-size.px': fontSizeMain}">
            Valider
        </div>


    </div>




    <app-change-font-size id="play-quiz-change-size-div" [dispTheSizeWritings]="adaptPageToBigFont()" ></app-change-font-size>

</div>
