.result {
  background-color: #EEE;
  border-radius: 10px;

  //border: solid black 2px;

  height: auto;
  margin: 15px;
  padding: 10px;
}

.theme {
  text-align: center;
}

.stat {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.percent {
  flex: 1;
  text-align: center;
  font-weight: 550;
}

.menu {
  display: flex;
  flex-direction: row;
}

.menu div {
  flex: 1;
}

.menu :first-child {
  text-align: right;
}

.correction {
  margin-right: 50px;
}

.back_main_menu {
  margin-left: 50px;
}

button {
  font-size: inherit;
}

.menu_change_font_size {
  text-align: center;
}

.point {
  display: flex;
  flex-wrap: wrap;

  flex-direction: column;

  flex: 1;
  height: 100%;
  //background: aqua;
}

.point > div {
  display: flex;
  flex: 1;
  flex-direction: row;

  padding-left: 1em;
  padding-right: 1em;
}

.category, .info {
  font-weight: 550;
}

.category {
  display: inline;

  //flex: 1;
}

.info {
  display: flex;

  flex: 1;

  flex-direction: row-reverse;
}