#quiz-result-main-div {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  border: 5px solid black;
}

#quiz-result-title {
  font-weight: 900;
  margin-top: 20px;
}


#quiz-result-resultdiv {

  width: 80%;

  padding: 30px;


  background-color: #f4f4f4;
  box-shadow: 3px 3px 3px #cacaca;
  border-radius: 10px;
}


.quiz-result-resultdiv-line-class {
  display: flex;
  justify-content: space-between;

}

.quiz-result-resultdiv-line-first-elem-class {

  margin: 10px;

}

.quiz-result-resultdiv-line-second-elem-class {
  margin: 10px;
}

#quiz-result-menu {

  display: flex;
  flex-direction: row;
  justify-content: space-between;

  width: 80%;



}

.quiz-result-menu-button {

  border: none;
  border-radius: 5px;
  padding: 10px 50px;

  box-shadow: 3px 3px 3px #cacaca;
  background-color: #f4f4f4;


  font-weight: 800;

}

#quiz-result-footer-change-size {
  max-height: 25%;
  width: 80%;


}
