<div class="header-menu">
    <div class="header-menu-item quit"><a routerLink="/animateur" (click)="quit()">Quitter</a></div>
    <div class="header-menu-item">

        <span class="error_save" *ngIf="!user.surname; else missing_name">Il manque le nom</span>
        <ng-template #missing_name>
            <span class="error_save" *ngIf="!user.name; else missing_birthday" >Il manque le prénom</span>
            <ng-template #missing_birthday>
                <span class="error_save" *ngIf="!user.birthday" >Il manque l'anniversaire</span>
            </ng-template>
        </ng-template>

        <a (click)="saveUserModificationAndQuit()" [style.opacity]="this.userInfoCorrect()?1:0.4">
            Sauvegardez
        </a>
    </div>
</div>

<div class="base">

    <div>
        <div class="image_placeholder">
            <img src="{{user.image_url}}" alt="{{user.name}}_{{user.surname}}" class="profile-picture section"
                 (error)="img.src = 'https://img.icons8.com/metro/208/000000/user-male.png'" #img/>
            <label for="img_url" class="change_image">Mettez l'URL de l'image</label>
            <input (input)="imageUrlChange(img_url)" id="img_url" class="img_url" autocomplete="off" #img_url>
        </div>

        <div class="container section">
            <table>
                <tr>
                    <th style="width: 300px" [style.color]="user.surname?'inherit':'red'">Nom</th>
                    <td style="min-width: 300px">
                        <label for="nom"></label>
                        <input type="text" id="nom" value="{{user.surname}}"
                               [attr.disabled]="modifyInput===0?null:'disabled'" (keyup.enter)="enter($event)"
                               (keyup.escape)="escapeInput(surname)" (focusout)="onLostFocus($event)" #surname>
                    </td>
                    <td>
                        <button class="edit" (click)="setModifyInput(surname, 0)"><i class="fas fa-edit"></i></button>
                    </td>
                </tr>
                <tr>
                    <th [style.color]="user.name?'inherit':'red'">Prénom</th>
                    <td>
                        <label for="prenom"></label>
                        <input type="text" id="prenom" value="{{user.name}}"
                               [attr.disabled]="modifyInput===1?null:'disabled'" (keyup.enter)="enter($event)"
                               (keyup.escape)="escapeInput(username)" (focusout)="onLostFocus($event)" #username>
                    </td>
                    <td>
                        <button class="edit" (click)="setModifyInput(username, 1)"><i class="fas fa-edit"></i></button>
                    </td>
                </tr>
                <tr>
                    <th [style.color]="user.birthday?'inherit':'red'">Date de naissance</th>
                    <td>
                        <label for="birthday"></label>
                        <input type="date" id="birthday" value="{{birthday}}"
                               [attr.disabled]="modifyInput===2?null:'disabled'" (keyup.enter)="enter($event)"
                               (keyup.escape)="escapeInput(birthdayElmt)" (focusout)="onLostFocus($event)"
                               #birthdayElmt>
                    </td>
                    <td>
                        <button class="edit" (click)="setModifyInput(birthdayElmt, 2)"><i class="fas fa-edit"></i>
                        </button>
                    </td>
                </tr>
                <tr>
                    <th>Handicape</th>
                    <td>
                        <label for="handicap-select"></label>
                        <select id="handicap-select" name="handicaps" [attr.disabled]="modifyInput===3?null:'disabled'"
                                (keyup.escape)="escapeSelect(handicapElmt)" (keyup.enter)="enter($event)"
                                (focusout)="onLostFocus($event)"
                                #handicapElmt>
                            <option *ngFor="let handicap_item of handicaps" value="{{handicap_item.id}}"
                                    [attr.selected]="user.handicap===handicap_item.id?'selected':null">{{handicap_item.name}}</option>
                        </select>
                    </td>
                    <td>
                        <button class="edit" (click)="setModifySelect(handicapElmt, 3)"><i class="fas fa-edit"></i>
                        </button>
                    </td>
                </tr>
                <tr>
                    <th>Note</th>
                    <td>
                        <label for="note"></label>
                        <textarea id="note" value="{{user.note}}"
                                  [attr.disabled]="modifyInput===4?null:'disabled'" (keyup.enter)="enter($event)"
                                  (keyup.escape)="escapeInput(note)" (focusout)="onLostFocus($event)" #note></textarea>
                    </td>
                    <td>
                        <button class="edit" (click)="setModifyInput(note, 4)"><i class="fas fa-edit"></i></button>
                    </td>
                </tr>
            </table>
        </div>
    </div>

    <div>
        <div class="container section">
            <div class="title">
                <b>Tailles d'écritures</b>
            </div>
            <div class="modify">
                <button class="delete" (click)="deleteSelectedFontSizeConfig()"
                        [attr.disabled]="configFontSizeSelected.length == 0?'disabled':null">Effacer la sélection
                </button>
                <button class="add" (click)="addFontSizeConfig()">Ajouter une nouvelle taille</button>
            </div>
            <table id="size-font_configs">
                <tr>
                    <th style="width: 40px">&nbsp;</th>
                    <th style="width: 200px">Titre</th>
                    <th style="width: 400px">Taille d'écriture</th>
                    <th style="width: 200px">Défaut</th>
                    <th>&nbsp;</th>
                </tr>
                <tr *ngFor="let fontSizeConfig of user.size_font_configs" (mousedown)="stopEvent($event)"
                    (keyup.enter)="enterConfigFontSize()"
                    (keyup.escape)="escapeConfigFontSize()">
                    <td><input type="checkbox" id="{{fontSizeConfig.id}}" name="size_font"
                               (change)="onConfigFontSizeChange(fontSizeConfig.id)">
                        <label for="{{fontSizeConfig.id}}"></label>&nbsp;
                    </td>
                    <td><label>
                        <input type='text' [attr.disabled]="modifyFontSizeConfig==fontSizeConfig.id?null:'disabled'"
                               value="{{fontSizeConfig.name}}" id="title_config_{{fontSizeConfig.id}}">
                    </label>
                    </td>
                    <td><input type='number' [attr.disabled]="modifyFontSizeConfig==fontSizeConfig.id?null:'disabled'"
                               value="{{fontSizeConfig.size}}" id="size_config_{{fontSizeConfig.id}}"></td>
                    <td>
                        <div *ngIf="modifyFontSizeConfig==fontSizeConfig.id; else defaultStar">
                            <input type="checkbox" [attr.checked]="fontSizeConfig.default?'checked':null"
                                   id="default_{{fontSizeConfig.id}}"
                                   [attr.disabled]="fontSizeConfig.default?'disabled':null">
                        </div>
                        <ng-template #defaultStar>
                            <div *ngIf="fontSizeConfig.default; else notDefault">
                                <i class="fas fa-star star"></i>
                            </div>
                            <ng-template #notDefault>&nbsp;</ng-template>
                        </ng-template>

                    </td>
                    <td>
                        <button class="edit" (click)="setModifyFontSizeConfig(fontSizeConfig.id)"><i
                                class="fas fa-edit"></i></button>
                    </td>
                </tr>
            </table>
        </div>

        <div class="container section">
            <div class="title"><b>Quizzs</b></div>
            <div class="modify">
                <button class="delete">Effacer la sélection</button>
                <button class="add">Ajouter un nouveau quiz</button>
            </div>
            <table>
                <tr>
                    <th>&nbsp;</th>
                    <th style="width: 250px">Titre</th>
                    <th style="width: 125px">Difficulté</th>
                    <th style="width: 125px; text-align: center;">Résultat</th>
                    <th style="width: 115px; text-align: center;">Tentatives</th>
                    <th style="width: 225px; text-align: center;">Moyenne globale</th>
                    <th>&nbsp;</th>
                </tr>
                <tr *ngFor="let quizAnswer of quizAnswers">
                    <td><input type="checkbox" id="quiz1" name="quiz"><label for="quiz1"></label>&nbsp;</td>
                    <td>{{quizAnswer.name}}</td>
                    <td>{{quizAnswer.difficulty}}</td>
                    <td style="text-align: center">{{quizAnswer.result}}</td>
                    <td style="text-align: center">{{quizAnswer.tries}}</td>
                    <td style="text-align: center">{{quizAnswer.mean}} / {{quizAnswer.questions_count}}</td>
                    <td>&nbsp;</td>
                </tr>
            </table>
        </div>
    </div>


</div>
