<div class="header-menu">
    <div class="header-menu-item quit"><a routerLink="/animateur" (click)="quit()">Quitter</a></div>
    <div class="header-menu-item">

        <span class="error_save" *ngIf="!user.surname; else missing_name">Il manque le nom</span>
        <ng-template #missing_name>
            <span class="error_save" *ngIf="!user.name; else missing_birthday" >Il manque le prénom</span>
            <ng-template #missing_birthday>
                <span class="error_save" *ngIf="!user.birthday" >Il manque l'anniversaire</span>
            </ng-template>
        </ng-template>

        <a (click)="saveUserModificationAndQuit()" [style.opacity]="this.userInfoCorrect()?1:0.4">
            Sauvegardez
        </a>
    </div>
</div>

<div class="base">

    <div>
        <div class="image_placeholder">
            <img src="{{user.image_url}}" alt="{{user.name}}_{{user.surname}}" class="profile-picture section"
                 (error)="img.src = 'https://img.icons8.com/metro/208/000000/user-male.png'" #img/>
            <label for="img_url" class="change_image">Mettez l'URL de l'image</label>
            <input (input)="imageUrlChange(img_url)" id="img_url" class="img_url" autocomplete="off" #img_url>
        </div>

        <div class="container section">
            <table>
                <tr>
                    <th style="width: 300px">Nom</th>
                    <td style="min-width: 250px">{{user.surname}}</td>
                    <td>
                        <button class="edit"><i class="fas fa-edit"></i></button>
                    </td>
                </tr>
                <tr>
                    <th>Prénom</th>
                    <td>{{user.name}}</td>
                    <td>
                        <button class="edit"><i class="fas fa-edit"></i></button>
                    </td>
                </tr>
                <tr>
                    <th>Date de naissance</th>
                    <td>{{birthday}}</td>
                    <td>
                        <button class="edit"><i class="fas fa-edit"></i></button>
                    </td>
                </tr>
                <tr>
                    <th>Handicape</th>
                    <td>{{user.handicap}}</td>
                    <td>
                        <button class="edit"><i class="fas fa-edit"></i></button>
                    </td>
                </tr>
                <tr>
                    <th>Note</th>
                    <td>
                        <label for="note"></label>
                        <textarea id="note" value="{{user.note}}"
                               [attr.disabled]="modifyInput===4?null:'disabled'" (keyup.enter)="enter($event)"
                                  (keyup.escape)="escapeInput(note)" (focusout)="onLostFocus($event)" #note></textarea>
                    </td>
                    <td>
                        <button class="edit" (click)="setModifyInput(note, 4)"><i class="fas fa-edit"></i></button>
                    </td>
                </tr>
            </table>
        </div>
    </div>

    <div>
        <div class="container section">
            <div class="title">
                <b>Tailles d'écritures</b>
            </div>
            <div class="modify">
                <button class="delete">Effacer la sélection</button>
                <button class="add">Ajouter une nouvelle taille</button>
            </div>
            <table id="size-font_configs">
                <tr>
                    <th style="width: 40px">&nbsp;</th>
                    <th style="width: 200px">Titre</th>
                    <th style="width: 400px">Taille d'écriture</th>
                    <th style="width: 200px">Défaut</th>
                    <th>&nbsp;</th>
                </tr>
                <tr *ngFor="let fontSizeConfig of user.size_font_configs">
                    <td><input type="checkbox" id="{{fontSizeConfig.name}}" name="size_font"><label
                            for="{{fontSizeConfig.name}}"></label>&nbsp;
                    </td>
                    <td>{{fontSizeConfig.name}}</td>
                    <td>{{fontSizeConfig.size}}</td>
                    <td>
                        <div *ngIf="fontSizeConfig.default; else notDefault">
                            <i class="fas fa-star star"></i>
                        </div>
                        <ng-template #notDefault>&nbsp;</ng-template>
                    </td>
                    <td>
                        <button class="edit"><i class="fas fa-edit"></i></button>
                    </td>
                </tr>
            </table>
        </div>

        <div class="container section">
            <div class="title"><b>Quizzs</b></div>
            <div class="modify">
                <button class="delete">Effacer la sélection</button>
                <button class="add">Ajouter un nouveau quiz</button>
            </div>
            <table>
                <tr>
                    <th>&nbsp;</th>
                    <th style="width: 250px">Titre</th>
                    <th style="width: 125px">Difficulté</th>
                    <th style="width: 125px; text-align: center;">Résultat</th>
                    <th style="width: 115px; text-align: center;">Tentatives</th>
                    <th style="width: 225px; text-align: center;">Moyenne globale</th>
                    <th>&nbsp;</th>
                </tr>
                <tr *ngFor="let quizAnswer of quizAnswers">
                    <td><input type="checkbox" id="quiz1" name="quiz"><label for="quiz1"></label>&nbsp;</td>
                    <td>{{quizAnswer.name}}</td>
                    <td>{{quizAnswer.difficulty}}</td>
                    <td style="text-align: center">{{quizAnswer.result}}</td>
                    <td style="text-align: center">{{quizAnswer.tries}}</td>
                    <td style="text-align: center">{{quizAnswer.mean}}</td>
                    <td>&nbsp;</td>
                </tr>
            </table>
        </div>
    </div>


</div>
