
$background-button-color: #F4F4F4;
$principal-application-color: #7EBCA8;

$easy-color: #9EBF44;
$easy-font-color: white;
$medium-color: #ECE76E;
$medium-font-color: white;
$hard-color: #ECA751;
$hard-font-color: white;
$expert-color: #D84127;
$expert-font-color: white;

$validate-color: #96BF47;




.easy-background {
    background-color: $easy-color !important;
}
.easy-fontcolor {
    color: $easy-font-color !important;
}

.medium-background {
    background-color: $medium-color !important;
}
.medium-fontcolor {
    color: $medium-font-color !important;
}

.hard-background {
    background-color: $hard-color !important;
}
.hard-fontcolor {
    color: $hard-font-color !important;
}

.expert-background {
    background-color: $expert-color !important;
}
.expert-fontcolor {
    color: $expert-font-color !important;
}
