
$background-button-color: #F4F4F4;
$principal-application-color: #7EBCA8;

$easy-color: #9EBF44;
$medium-color: #ECE76E;
$hard-color: #ECA751;
$expert-color: #D84127;

$validate-color: #96BF47;




.easy-background {
    background-color: $easy-color !important;
}
.easy-fontcolor {
    color: $easy-color !important;
}

.medium-background {
    background-color: $medium-color;
}
.medium-fontcolor {
    color: $medium-color;
}

.hard-background {
    background-color: $hard-color;
}
.hard-fontcolor {
    color: $hard-color;
}

.expert-background {
    background-color: $expert-color;
}
.expert-fontcolor {
    color: $expert-color;
}
