
<div id="login-page-container-buttons">
    <div>

    </div>
    <div id="login-page-buttons">
        <button class="login-page-button" (click)="logInGuestMode()">Mode invité</button>
        <button class="login-page-button" (click)="animateur()">Animateur</button>
    </div>
</div>


<div id="login-page-presentation-users-illustration">

    <div id="login-page-presentation-users">
        <div id="login-page-presentation-write">
            <div id="login-page-welcome-to">Bienvenue sur</div>
            <div id="login-page-polyquiz">PolyQuiz</div>
        </div>

        <div id="search-hint">Rechercher </div>
        <input type="text" id="login-search-bar" (input)="filterUser($event)"/>

        <div id="login-page-presentation-write-two">Si vous êtes présent dans la liste ci-dessous, cliquez sur votre profil, sinon, cliquez sur le boutton "mode invité"</div>

        <div id="login-page-users">
            <div *ngFor="let us of userList">


                <div id="login-page-user-main-div" (click)="onUserClick(us)">

                    <div id="login-page-user-image-container" >
                        <div></div>
                        <img id="login-page-user-image" src="{{us.image_url}}">
                        <div></div>
                    </div>

                    <div id="login-page-user-texte-container">
                        <div >
                            {{us.name}}
                        </div>

                        <div>
                            {{us.surname}}
                        </div>
                    </div>


                </div>

            </div>
        </div>

    </div>


    <img id="login-page-illustration" src="../../../assets/images/illustration-login-page.png">

</div>















