
<div id="anim-create-quiz-element-header-div">
    <div id="anim-create-quiz-homepage-delete-quiz-div">
        <button (click)="onDeleteQuiz()" routerLink="/animateur" name="deleteQuiz" id="delete-quiz" style="cursor: pointer;">
            Supprimer ce Quizz
        </button>
    </div>
    <div id="anim-create-quiz-homepage-quit-and-save-quizz-div">

        <button (click)="onSaveAndExitQuiz()" name="saveAndquitCreationQuizz" id="save-and-quit-creation-quiz" style="cursor: pointer;">
            Sauvegarder et quitter
        </button>
    </div>
</div>

