
<div id="anim-create-quiz-element-header-div">
    <div id="anim-create-quiz-homepage-delete-quiz-div">
        <button name="deleteQuiz" id="delete-quiz">
            Supprimer ce Quizz
        </button>
    </div>
    <div id="anim-create-quiz-homepage-quit-and-save-quizz-div">
        <button name="quitCreationQuizz" id="quit-creation-quiz">
            Quitter
        </button>

        <button name="saveAndquitCreationQuizz" id="save-and-quit-creation-quiz">
            Sauvegarder et quitter
        </button>
    </div>
</div>

