* {
  background-color: white;
  font-family: Montserrat, serif;
}

#text-intro-quizz {

  font-weight: bold;
  font-size: 50px;
  padding: 0px 25px;
}

hr.divider {
  margin-top: 2%;
  margin-bottom: 2%;
  border-top: 1px solid #f4f4f4;
}



