<div *ngIf="userSelected != null">

    <div>Bonjour</div>
</div>


<p id="text-intro-quizz" >A quel quiz voulez-vous jouer ?</p>

<app-difficulty-bar id="homepage-difficulty-bar" (difficultyChoiceEvent)="onDifficultyFiltrer($event)"></app-difficulty-bar>

<hr class="divider">


<div *ngFor="let quiz of quizList">
    <app-question-presenter-bar
            [titleQuiz]="quiz.name"
            [numberOfQuestions]="quiz.questions.length"
            [difficulty]="quiz.difficulty"
            [isMade]="true"
            [numberOfGoodQuestions]="5"
            [idQuiz]="quiz.id"
    ></app-question-presenter-bar>
</div>


