* {
  background-color: white;
  font-family: Montserrat, serif;
}

#text-intro-quizz {

  font-weight: bold;
  padding: 0px 25px;
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 70px;
}

hr.divider {
  margin-top: 2%;
  margin-bottom: 2%;
  border-top: 1px solid #f4f4f4;
}



#message-de-bienvenue-bonjour {
  font-weight: 900;
  font-size: 100px;
}

.difficulty-bar-elements-button {

  flex: 1;
  margin: 10px 30px;
  padding: 20px 20px;

  font-size: 30px;

  max-width: 200px;
  height: auto;

  font-weight: bold!important;

  border: none;
  border-radius: 10px;
  text-align: center;
  box-shadow: 3px 3px 3px #e3e3e3;


  background-color: black;
  color: white;
  min-width: 300px;


}

#pseudo-header {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}




