<div [style.font-size.px]="fontSize">

    <div *ngIf="userSelected != null" id="message-de-bienvenue">

        <div id="pseudo-header">
            <div id="message-de-bienvenue-bonjour" [style.font-size.px]="fontSize + 20">Bonjour, {{userSelected.surname}}</div>
            <button class="difficulty-bar-elements-button" (click)="disconnect()">Se Déconnecter</button>
        </div>


        <hr class="divider">

    </div>


    <button class="difficulty-bar-elements-button" (click)="disconnect()" *ngIf="!userSelected">Se Déconnecter</button>




    <p class="text-intro-quizz"  [style.font-size.px]="fontSize + 10">A quel quiz voulez-vous jouer ?</p>

    <app-difficulty-bar id="homepage-difficulty-bar"
                        (difficultyChoiceEvent)="onDifficultyFiltrer($event)"></app-difficulty-bar>

    <hr class="divider">

    <div *ngIf="!publicSession && currentUserAndQuiz || publicSession">
        <div *ngFor="let quiz of quizList">
            <app-question-presenter-bar (click)="onSelectedQuiz(quiz)"
                                        [titleQuiz]="quiz.name"
                                        [numberOfQuestions]="quiz.questions.length"
                                        [difficulty]="quiz.difficulty"
                                        [isMade]="true"
                                        [numberOfGoodQuestions]="getNumberOfGoodQuestion(quiz)"
                                        [idQuiz]="quiz.id" [playedQuiz]="isPlayedQuiz(quiz)"

            ></app-question-presenter-bar>
        </div>
    </div>




</div>
