<div [style.font-size.px]="sizeFont">
    <div class="question-number">{{question.id}} / {{quiz.questions.length}}</div>

    <div class="question">
        <div class="question-name">{{question.question_name}}</div>
        <div class="answers">
            <div *ngFor="let answerQ of question.answers">
                <div class="answer" [style.background-color]="answerQ.is_correct ? 'green' : (answer.data == answerQ.data ? 'red' : 'white')">{{answerQ.data}}</div>
            </div>
        </div>
    </div>

    <div class="to-correction">
        <button [routerLink]="'/quiz-correction'">Retour au résultat</button>
    </div>

    <app-change-font-size></app-change-font-size>
</div>
