<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

<div id="add-question-bloc">

    <div id="add-question-bloc-left">
        <span (click)="upQuestion()" class="material-icons" id="bloc-left-arrow-top">double_arrow</span>
        <span id="bloc-left-question-number">{{question.id + 1}}</span>
        <span (click)="downQuestion()" class="material-icons" id="bloc-left-arrow-bottom">double_arrow</span>
    </div>

    <div id="add-question-bloc-right">

        <div id="add-question-bloc-right-info-question">
            <div id="add-question-bloc-right-info-question-line-one">

                <div id="add-question-bloc-right-info-question-line-one-question-name">
                    <div class="left-title">Question</div>
                    <input [(ngModel)]="question.question_name" id="create-quiz-name-input" type="text" class="form-field-text" placeholder="Entrez le titre du quizz" maxlength="70">
                </div>

                <button (click)="deleteThisQuestion()" name="deleteQuestion" id="delete-question">
                    Supprimer cette question
                </button>

            </div>

            <div id="add-question-bloc-right-info-question-line-two">


                <div id="switch-textuel-image">
                    <input (click)="imageOrTextQuestion(0)" type="radio" [id]="'text' + question.id" value="text" [checked]="question.type === 0"/><label [for]="'text' + question.id">Texte</label>
                    <input (click)="imageOrTextQuestion(1)" type="radio" [id]="'image' + question.id" value="image" [checked]="question.type === 1" /><label [for]="'image' + question.id">Image</label>
                </div>

                <button (click)="addAnAnswer()" name="addQuestion" id="add-question">
                    Ajouter une réponse
                </button>
            </div>
        </div>


        <div id="add-question-bloc-right-responses">


            <app-anim-create-quizz-element-add-question-bloc-textuel *ngIf="question.type === 0" [answers]="question.answer"></app-anim-create-quizz-element-add-question-bloc-textuel>
            <app-anim-create-quizz-element-add-question-bloc-image *ngIf="question.type === 1" [answers]="question.answer"></app-anim-create-quizz-element-add-question-bloc-image>

        </div>

    </div>




</div>
