

<div id="question-bloc-image-answer">

    <div *ngFor="let answer of answers" >

        <div *ngIf="answer.data === ''" class="question-bloc-image-answer-one-image-element" id="question-bloc-image-answer-one-image-element-when-nothing">

            <div class="question-bloc-image-answer-one-image-element-text"> Rechercher une image automatiquement</div>
            <input (keyup.enter)="onClickAddPhotoSearch(answer, $event)" type="text" placeholder="Rechercher une photo">

            <span class="material-icons" id="question-bloc-image-answer-one-image-element-when-nothing-circle">add_a_photo</span>

            <div class="question-bloc-image-answer-one-image-element-text"> Insérer une de vos image</div>
            <input (keyup.enter)="onClickAddPhotoLocal(answer, $event)" type="text" placeholder="Rechercher une photo">


        </div>

        <div *ngIf="answer.data != ''" class="question-bloc-image-answer-one-image-element">
            <img src="{{answer.data}}" id="question-bloc-image-answer-one-image-element-img">


            <div id="question-bloc-img-answer-details">
                <div id="question-bloc-img-answer-good-bad-question">
                    <span *ngIf="answer.is_correct === true" (click)="onCorrectAnswer(answer)" class="material-icons" style="cursor: pointer;">radio_button_checked</span>
                    <span *ngIf="answer.is_correct === false" (click)="onCorrectAnswer(answer)" class="material-icons" style="cursor: pointer;">radio_button_unchecked</span>
                </div>
                <div id="question-bloc-img-answer-trash" (click)="onDeleteAnswer(answer)"><span class="material-icons" style="cursor: pointer;">delete</span></div>
            </div>
        </div>

    </div>
</div>
