<div class="difficulty-bar-elements">
    <button
            name="easy"
            (click)="choiseTheDifficulty($event, 0)"
            [className]="numberOfClickOnEasy === 1 ? 'difficulty-bar-elements-button easy-background easy' : 'difficulty-bar-elements-button'"

    >Facile</button>

    <button
            name="medium"
            (click)="choiseTheDifficulty($event, 1)"
            [className]="numberOfClickOnMedium === 1 ? 'difficulty-bar-elements-button medium-background medium' : 'difficulty-bar-elements-button'"
    >Moyen</button>

    <button
            name="hard"
            (click)="choiseTheDifficulty($event, 2)"
            [className]="numberOfClickOnHard === 1 ? 'difficulty-bar-elements-button hard-background hard' : 'difficulty-bar-elements-button'"
    >Difficile</button>

    <button
            name="expert"
            (click)="choiseTheDifficulty($event, 3)"
            [className]="numberOfClickOnExpert === 1 ? 'difficulty-bar-elements-button expert-background expert' : 'difficulty-bar-elements-button'"
    >Expert</button>
</div>
