@import "../../../styles/userColors";

* {
  font-family: Montserrat, serif;
}

button {
  font: inherit;
}

.difficulty-bar-elements {

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0px 20px;
  flex-wrap: wrap;



}

.difficulty-bar-elements-button {

  flex: 1;
  margin: 10px;
  padding: 20px 20px;

  width: 350px;
  height: auto;

  font-weight: bold!important;

  border: none;
  border-radius: 10px;
  text-align: center;
  box-shadow: 3px 3px 3px #e3e3e3;

  min-width: 300px;

  cursor: pointer;
}
