

<header>
    <app-anim-create-quizz-element-header (deleteQuizRequest)="deleteQuiz($event)" (saveAndExitQuiz)="addQuiz($event)" ></app-anim-create-quizz-element-header>
</header>


<div id="element-general-quiz-infos">
    <app-anim-create-quizz-element-general-quiz-infos (quizDifficultyRequest)="onDifficultyQuiz($event)"  (quizNameRequest)="onThemeQuiz($event)" (quizVisibilityRequest)="onVisibilityQuiz($event)"></app-anim-create-quizz-element-general-quiz-infos>
</div>


<div id="question-divider">
    <div id="question-divider-text">Questions</div>
    <hr class="solid">
</div>



<div id="add-questions">
    <button (click)="onAddAnQuestion()" name="addQuestionButton" id="add-question-quiz">Ajouter une question au quizz</button>

    <li *ngFor="let questionElement of questionsQuiz">
        <app-anim-create-quizz-element-add-question-bloc [questionNumber]=questionElement.id (upTheQuestion)="onUpQuestion($event)" (downTheQuestion)="onDownQuestion($event)" (deleteQuestion)="onDeleteQuestion($event)" ></app-anim-create-quizz-element-add-question-bloc>
    </li>

</div>


