@import "../../../styles/userColors";

// Le tout
#app-question-presenter-bar-main-divider {
  background-color: $background-button-color;
  border-radius: 10px;
  padding: 2%;
  margin: 1% 2%;
  height: 20%;

  font-family: Montserrat, sans-serif;

  display: flex;
  flex-direction: row;
  justify-content: space-between;

  box-shadow: 3px 3px 3px lightgrey;
  cursor: pointer;

}

// Partie de gauche
#app-question-presenter-bar-description-quiz {

  width: 70%;

  //font-size: 18px;

  display: flex;
  flex-direction: column;
  justify-content: space-between;

}



// Les mers des 5 mondes
#app-question-presenter-bar-title-of-question {

  //font-size: 50px;
  font-weight: bold;
  padding: 10px 10px;


}

// Sous parties ou on a le nombre de questions et la difficulté de la question
#app-question-presenter-bar-description-quiz-advanced-description {

  display: flex;
  flex-direction: row;
  justify-content: space-between;

  flex-wrap: wrap;

}

// 30 questions
#app-question-presenter-number-of-questions-in-quiz {
  border-radius: 5px;



  text-align: center;

  margin-top: 5px;
  padding: 5px 40px;
  min-width: 400px;


}

// Difficile
.app-question-presenter-difficulty-of-quiz {

  border-radius: 5px;


  text-align: center;
  vertical-align: center;
  padding: 5px 40px;

  min-width: 300px;

  margin-top: 5px;


  box-shadow: 3px 3px 3px lightgrey;

}

// Validation du questionnaire => quand les gens ont fait le questionnaire
#app-question-presenter-quiz-is-validate {

  display: flex;
  flex-direction: column;
  justify-content: center;

  border-radius: 5px;
  padding: 5px 40px;

  background-color: $validate-color;

  box-shadow: 3px 3px 3px lightgrey;
}

#app-question-presenter-quiz-is-validate-number-of-good-questions {
  color: white
}

#app-question-presenter-quiz-is-validate-icon {
  text-align: center;
}

#app-question-presenter-quiz-is-validate--check-icon {
  color: white;
  font-size: inherit;
}
