

<div id="app-question-presenter-bar-main-divider" class="active-panel" routerLink="/quiz-intro/{{idQuiz}}">

    <div id="app-question-presenter-bar-description-quiz">
        <div id="app-question-presenter-bar-title-of-question">
            {{titleQuiz}}
        </div>

        <div id="app-question-presenter-bar-description-quiz-advanced-description">

            <div id="app-question-presenter-number-of-questions-in-quiz" class="app-question-presenter-bar-inside-writting">
                {{numberOfQuestions}} questions
            </div>

            <div class="app-question-presenter-difficulty-of-quiz">
                <div *ngIf="difficulty==0" class="app-question-presenter-difficulty-of-quiz easy" >FACILE</div>
                <div *ngIf="difficulty==1" class="app-question-presenter-difficulty-of-quiz medium">MOYEN</div>
                <div *ngIf="difficulty==2" class="app-question-presenter-difficulty-of-quiz hard">DIFFICILE</div>
                <div *ngIf="difficulty==3" class="app-question-presenter-difficulty-of-quiz expert">EXPERT</div>
            </div>

        </div>


    </div>


    <div id="app-question-presenter-quiz-is-validate" class="quizz-done-check">
        <div id="app-question-presenter-quiz-is-validate-icon">
            <i class="fas fa-check-square"></i>
        </div>
        <div id="app-question-presenter-quiz-is-validate-number-of-good-questions">
            {{numberOfGoodQuestions}} / {{numberOfQuestions}}
        </div>
    </div>

    

</div>
