

<div id="app-question-presenter-bar-main-divider">

    <div id="app-question-presenter-bar-description-quiz">
        <div id="app-question-presenter-bar-title-of-question">
            Les mers des 5 mondes
        </div>

        <div id="app-question-presenter-bar-description-quiz-advanced-description">

            <div id="app-question-presenter-number-of-questions-in-quiz">
                30 questions
            </div>

            <div id="app-question-presenter-difficulty-of-quiz">
                DIFFICILE
            </div>

        </div>


    </div>


    <div id="app-question-presenter-quiz-is-validate">
        <div id="app-question-presenter-quiz-is-validate-icon">
            <i class="fas fa-check-square"></i>
        </div>
        <div id="app-question-presenter-quiz-is-validate-number-of-good-questions">
            15/30
        </div>
    </div>

    

</div>
