@import "../../../styles/userColors";

// Le tout
#app-question-presenter-bar-main-divider {
  background-color: $background-button-color;
  border-radius: 20px;
  padding: 2%;
  margin: 1% 2%;
  height: 20%;

  font-family: Montserrat, sans-serif;

  display: flex;
  flex-direction: row;
  justify-content: space-between;

}

// Partie de gauche
#app-question-presenter-bar-description-quiz {

  width: 90%;

  font-size: 18px;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#app-question-presenter-bar-description-quiz:nth-child(1) {flex: 1;}

// Les mers des 5 mondes
#app-question-presenter-bar-title-of-question {

  font-size: 50px;
  font-weight: bold;
  height: 50%;
}

// Sous parties ou on a le nombre de questions et la difficulté de la question
#app-question-presenter-bar-description-quiz-advanced-description {

  display: flex;
  flex-direction: row;
  height: 50%;
  margin: 15px 10px;
}

// 30 questions
#app-question-presenter-number-of-questions-in-quiz {
  border-radius: 10px;
  width: 40%;
  background-color: $principal-application-color;

  color: white;

  text-align: center;

  margin: auto;
  height: auto;


}

// Difficile
.app-question-presenter-difficulty-of-quiz {

  border-radius: 10px !important;
  width: 50%;

  text-align: center;

  margin: auto;
  height: auto;

  color: black;



}

// Validation du questionnaire => quand les gens ont fait le questionnaire
#app-question-presenter-quiz-is-validate {
  border-radius: 10px;
  width: 10%;
  height: auto;
  margin: auto;
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: center;
  color: white;
  background-color: $validate-color;
}
