<div class="statistic-content">
    <h2>Statistiques</h2>
    <div class="card">
        <div class="element">
            <div class="category">Nombre de quiz joués</div>
            <div class="info">890</div>
        </div>
        <div class="element">
            <div class="category">Score moyen</div>
            <div class="info">17,4 / 20</div>
        </div>
        <div class="element">
            <div class="category">Nombre de quiz effectué par personne</div>
            <div class="info">12,45</div>
        </div>
        <div class="element">
            <div class="category">Temps moyen par quiz</div>
            <div class="info">38 min</div>
        </div>
    </div>
</div>

<div class="quiz-list">
    <h2>Quiz</h2>
    <button class="alert-button" (click)="deleteSelection()">Effacer la selection</button>
    <button class="info-button" routerLink="/animateur/quizz-home-page/create-quizz" >Ajouter un quiz</button>

    <table>
        <tr>
            <th><input type="checkbox" (click)="selectAll()" [checked]="isAllSelected()"/></th>
            <th style="text-align: start;">Titre</th>
            <th>Difficutlé</th>
            <th>Création</th>
            <th>Handicap</th>
            <th>Questions</th>
            <th>Participants</th>
            <th>Score moyen</th>
        </tr>

        <tr *ngFor="let quiz of quizList">
                <td><input type="checkbox" (click)="selectQuiz(quiz)" [checked]="isSelectedKey(quiz)"/></td>
                <td style="text-align: start;">{{quiz.name}}</td>
                <td>{{translateDifficulty(quiz.difficulty)}}</td>
                <td></td>
                <td>Visuel</td>
                <td>{{quiz.questions.length}}</td>
                <td></td>
                <td></td>
        </tr>
    </table>
</div>
