<div class="statistic-content">
    <h2>Statistiques</h2>
    <div class="card">
        <div class="element">
            <div class="category">Nombre de quiz joués</div>
            <div class="info">{{getNbPlayedQuiz()}}</div>
        </div>
        <div class="element">
            <div class="category">Score moyen</div>
            <div class="info">{{getAverageScore()}} / 20</div>
        </div>
        <div class="element">
            <div class="category">Nombre de quiz effectué par personne</div>
            <div class="info">{{getAverageNbPlayedQuizPerPerson()}}</div>
        </div>
        <!--<div class="element">
            <div class="category">Temps moyen par quiz</div>
            <div class="info">38 min</div>
        </div>-->
    </div>
</div>

<div class="quiz-list">
    <h2>Quiz</h2>
    <button class="delete-button" (click)="deleteSelection()">Effacer la selection</button>
    <button class="add-button" routerLink="/animateur/quizz-home-page/create-quizz" >Ajouter un quiz</button>
    <!--TODO CHANGER DESIGN BOUTON-->
    <table>
        <tr>
            <th><input type="checkbox" (click)="selectAll()" [checked]="isAllSelected()"/></th>
            <th style="text-align: start;">Titre</th>
            <th>Difficutlé</th>
            <!--<th>Création</th>-->
            <th>Handicap</th>
            <th>Questions</th>
            <th>Accessibilité</th>
            <th>Participants</th>
            <th>Score moyen</th>
        </tr>

        <tr *ngFor="let quiz of quizList" (click)="editQuiz(quiz)" style="cursor: pointer;">
            <td><input type="checkbox" (click)="selectQuiz(quiz, $event)" [checked]="isSelectedKey(quiz)"/></td>
            <td style="text-align: start;">{{quiz.name}}</td>
            <td>{{translateDifficulty(quiz.difficulty)}}</td>
            <!--<td></td>-->
            <td>Visuel</td>
            <td>{{quiz.questions.length}}</td>
            <td>{{getVisibilityAccess(quiz)}}</td>
            <td>{{getNbPlayer(quiz.id)}}</td>
            <td>{{getAverageScoreForQuiz(quiz.id)}} / 20</td>
                
        </tr>
    </table>
</div>
