

<div id="anim-create-quiz-element-general-quiz-info-main-div">

    <div id="anim-create-quiz-element-general-quiz-info-main-theme-and-difficulty-div">

        <div id="anim-create-quiz-element-general-quiz-info-main-theme">
            <div class="left-title">
                Thème
            </div>
            <input id="create-quiz-name-input" type="text" class="form-field-text" placeholder="Entrez le titre du quizz">
        </div>


        <div id="anim-create-quiz-element-general-quiz-info-main-difficulty">
            <div class="left-title">
                Difficulté
            </div>

            <div id="quiz-info-main-difficulty-radio-elements">
                <li><input class="create-quiz-difficulty-input" type="radio" id="create-quiz-easy" name="difficulty-bar" value="easy" checked> <label for="create-quiz-easy">Facile</label></li>
                <li><input class="create-quiz-difficulty-input" type="radio" id="create-quiz-medium" name="difficulty-bar" value="medium" checked> <label for="create-quiz-medium">Moyen</label></li>
                <li><input class="create-quiz-difficulty-input" type="radio" id="create-quiz-hard" name="difficulty-bar" value="hard" checked> <label for="create-quiz-hard">Difficile</label></li>
                <li><input class="create-quiz-difficulty-input" type="radio" id="create-quiz-expert" name="difficulty-bar" value="expert" checked> <label for="create-quiz-expert">Expert</label></li>
            </div>

        </div>

    </div>

    <div id="anim-create-quiz-element-general-quiz-info-main-public-or-private">

        <div id="anim-create-quiz-element-general-quiz-info-main-public-or-private-inputs-div">

            <div class="switch-field">
                <input type="radio" id="radio-switch-one" name="visibility-bar" value="public" checked/><label for="radio-switch-one">Public</label>
                <input type="radio" id="radio-switch-two" name="visibility-bar" value="private" /><label for="radio-switch-two">Privée</label>
            </div>

        </div>


    </div>



</div>
