$green: #387EF6;
$yellow: #FBE250;
$orange: #ECA751;
$red: #8D7E32;

.quizz-done-check {
    background-color: $green !important;
    color: black !important;
}

.active-panel {
    background-color: black !important;
    color: white !important;
}

.panel {
    background-color: white !important;
    color: black !important;
}

.right-answer {
    color: black !important;
    background-color: $green !important;
}

.wrong-answer {
    color: white !important;
    background-color: $red !important;
}

.right-image-answer {
    border-color: $green !important;
}

.wrong-image-answer {
    border-color: $red !important;
}


$difficulty-fontcolor: black;
.easy {
    background-color: $green !important;
    color: $difficulty-fontcolor !important;
}
.medium {
    background-color: $yellow !important;
    color: $difficulty-fontcolor !important;
}
.hard {
    background-color: $orange !important;
    color: $difficulty-fontcolor !important;
}
.expert {
    background-color: $red !important;
    color: $difficulty-fontcolor !important;
}