$easy-color: #444cbf;
$medium-color: #ECE76E;
$hard-color: #ECA751;
$expert-color: #D84127;

.easy-background {
    background-color: $easy-color;
}
.easy-fontcolor {
    color: $easy-color;
}

.medium-background {
    background-color: $medium-color;
}
.medium-fontcolor {
    color: $medium-color;
}

.hard-background {
    background-color: $hard-color;
}
.hard-fontcolor {
    color: $hard-color;
}

.expert-background {
    background-color: $expert-color;
}
.expert-fontcolor {
    color: $expert-color;
}