$green: #9EBF44;
$yellow: #ECE76E;
$orange: #ECA751;
$red: #D84127;

.quizz-done-check {
    background-color: $green !important;
    color: black !important;
}

.active-panel {
    background-color: #F4F4F4 !important;
    color: black !important;
}

.panel {
    background-color: #f4f4f4 !important;
    color: black !important;
}

.right-answer {
    color: black !important;
    background-color: $green !important;
}

.wrong-answer {
    color: white !important;
    background-color: $red !important;
}

.right-image-answer {
    border-color: $green !important;
}

.wrong-image-answer {
    border-color: $red !important;
}


$difficulty-fontcolor: black;
.easy {
    background-color: $green !important;
    color: $difficulty-fontcolor !important;
}
.medium {
    background-color: $yellow !important;
    color: $difficulty-fontcolor !important;
}
.hard {
    background-color: $orange !important;
    color: $difficulty-fontcolor !important;
}
.expert {
    background-color: $red !important;
    color: $difficulty-fontcolor !important;
}
