$green: #9EBF44;
$yellow: #ECE76E;
$orange: #ECA751;
$red: #D84127;

.quizz-done-check {
    background-color: $green !important;
    color: black !important;
}

.active-panel {
    background-color: black !important;
    color: white !important;
}

.panel {
    background-color: white !important;
    color: black !important;
}

.right-answer {
    color: black !important;
    background-color: $green !important;
}

.wrong-answer {
    color: white !important;
    background-color: $red !important;
}

.right-image-answer {
    border-color: $green !important;
}

.wrong-image-answer {
    border-color: $red !important;
}


$difficulty-fontcolor: black;

.easy {
    background-color: white !important;
    color: black !important;
    border: 5px solid black;
}
.medium {
    background-color: white !important;
    color: black !important;
    border: 5px solid black;
}
.hard {
    background-color: white !important;
    color: black !important;
    border: 5px solid black;
}
.expert {
    background-color: white !important;
    color: black !important;
    border: 5px solid black;
}
