button {
  font: inherit;
}

:host {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
}

.change_font_size_bar {
  display: flex;
  flex-direction: column;
  background-color: #f4f4f4;
  border-radius: 10px 10px 0 0;
  height: 100%;
  width: 100%;
  text-align: center;
}

.bar_title {
  flex: 1;
  //margin: 5px 0 5px 0;
  //border-bottom: solid 1px black;
}

.change_font_size {
  flex: 2;
  font-weight: 500;
}

.change_font_size button {
  border: unset;
  background-color: inherit;
}

.change_font_size button {
  margin: 10px;
}

.register_font_size {
  //TODO: mettre flex box + mettre changement font size dans div + justify-content: space-between
  //background-color: #7EBCA8 !important;
  color: white;
  border-radius: 10px;
  border-color: unset;
}

