button {
  font: inherit;
}

:host {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
}

#change_font_size_bar {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;


  background-color: #f4f4f4;
  border-radius: 10px 10px 0 0;
  height: 100%;
  width: 100%;

  box-shadow: 3px -3px  3px #cbcbcb;


}

.bar_title {
  flex: 1;

  display: flex;
  flex-direction: column;
  align-items: center;


  //margin: 5px 0 5px 0;
  //border-bottom: solid 1px black;
}

.change_font_size {
  flex: 2;
  font-weight: 500;
}

.change_font_size button {
  border: unset;
  background-color: inherit;
}

.change_font_size button {
  margin: 10px;
}

.register_font_size {
  //TODO: mettre flex box + mettre changement font size dans div + justify-content: space-between
  //background-color: #7EBCA8 !important;
  color: white;
  border-radius: 10px;
  border-color: unset;
}


#change-font-size-bar-bar-title-divider-bar {
  width: 60%;
  height: 2px;
  border-radius: 1px;
  background-color: black;
  box-shadow: 3px 3px 3px #c6c6c6;

}

#change-font-size-bar-bar-title-divider-bar-text {
  margin: 5px;
}




#change-font-size-second-line {

  width: 60%;
  font-size: 40px;
  font-weight: 800;

  border-radius: 5px;
  box-shadow: 3px 3px 3px #cbcbcb;
}



#app-guest-config-controls {
  height: 90px;
  width: 60%;
  border: 5px solid black;

  display: flex;
  justify-content: space-between;
  align-content: center;

  border-radius: 15px;

  margin: 20px 0;
}

#app-guest-config-controls-div-one {

  background-color: black;
  border-radius: 10px 0 0 10px;
  width: 25%;
  height: auto;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  border: none;
  box-shadow: none;

}

#app-guest-config-controls-div-two {
  margin: auto;
  height: auto;
  font-size: 60px;

}

#app-guest-config-controls-div-three {

  background-color: black;
  border-radius: 0 10px 10px 0;
  width: 25%;
  height: auto;


  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  border: none;
  box-shadow: none;
}


#app-guest-config-font-size-left-arrow {
  color: white;
  transform: rotate(180deg);
  font-size: 100px;

}

#app-guest-config-font-size-right-arrow {
  color: white;
  font-size: 100px;
}

#app-guest-config-font-size-right-arrow:hover {
  color: #aaaaaa;
  transform: translate(30px);
}

#app-guest-config-font-size-left-arrow:hover {
  color: #aaaaaa;
  transform: translate(-30px) rotate(180deg);
}


