@import "../../../styles/userColors";

.user-config-container {
  box-shadow: lightgray 3px 5px 3px;
  border-radius: 35px 35px 20px 20px;
  padding-bottom: 30px;
  min-height: 100%;
  cursor: pointer;
}

.name-container {
  border-radius: 999px;
  text-align: center;
  font-weight: bold;
  padding: 10px 25px 10px 25px;
}

.config-preview {
  padding: 5px 5px 0 5px;
  height: 100%;
  text-align: center;
}

.title {
  font-weight: bold;
  text-align: center;
}
