
<div id="guest-config-handicap-main-div">

    <div id="guest-config-handicap-writing-one">Souffrez-vous de l’un des syndromes suivant ?</div>
    <div id="guest-config-handicap-writing-two">Si oui, cliquez sur le syndrome, sinon, cliquez sur aucun</div>

    <div class="handicap-radio" (click)="setProtanopie()" [ngClass]="{ 'handicap-radio-selected': isProtanopie() }">PROTANOPIE / PROTANOMALIE</div>
    <div class="handicap-radio" (click)="setDeuteranopie()" [ngClass]="{ 'handicap-radio-selected': isDeuteranopie() }">DEUTERANOPIE / DEUTERANOMALIE</div>
    <div class="handicap-radio" (click)="setTritanopie()" [ngClass]="{ 'handicap-radio-selected': isTritanopie() }">TRITANOPIE / TRITANOMALIE</div>
    <div class="handicap-radio" (click)="setLowContrastSensi()" [ngClass]="{ 'handicap-radio-selected': isLowContrastSensi() }">SENSIBILITE AU CONTRASTE</div>
    <div class="handicap-radio" (click)="setNone()" [ngClass]="{ 'handicap-radio-selected': isNone() }">AUCUN</div>


    <button id="guest-config-handicap-validate-button" (click)="save()">Valider et passer à la suite</button>

</div>




